body{
    background-color: #FFC4C4;
    text-align: center;
    height: 100vh;
    /* font-family: 'Dancing Script', cursive; */
}
.main{
    margin-top: 35px;
    background-color:#FFF5E4 ;
    width: 75%;
    margin-left: 185px;
    height: 100vh;
}
.info{
    margin-left: 460px;
}
.one{
    margin-bottom: 15px;
    border-radius: 5px;
    margin-left: 25px;
}

.umr{
    margin-left: 14px;
    margin-bottom: 25px;
}
#role{
    margin-left: 15px;
}

.opt{
    margin-left: -218px;
}
.area{
    margin-top: 50px;
}

h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.how{
    margin-left: 20px;
}
.do{
    margin-left: -20px;
}
.teen{
    margin-left: -26px;
}
.dummi{
    margin-left: -215px;
}
.dummu{
    margin-left: -188px;
}
.data{
    margin-left: -284px;
}
